<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--1.1 v-text
详细：更新元素的 textContent。如果要更新部分的 textContent ，需要使用 {{ Mustache }} 插值。
实例：-->
<div id="app">
    <p v-text="msg"></p>
</div>
<!--{{}} 和上面的v-text效果一样
实例：-->
<div id="app-1">
    <p>{{msg}}</p>
</div>
<!-- v-html
详细：更新元素的 innerHTML 。注意：内容按普通 HTML 插入 - 不会作为 Vue 模板进行编译 。如果试图使用v-html 组合模板,可以重新考虑通过是否通过使用组件来替代。
注意：在网站上动态渲染任意 HTML 是非常危险的，因为容易导致XSS攻击。只在可信内容上使用v-html，永不用在用户提交的内容上。-->
<div id="app-2">
    <p v-html="msg"></p>
</div>
<!--v-show
用法：根据表达式之真假值，切换元素的 display CSS 属性。当条件变化时该指令触发过渡效果。
注意： v-show 不支持 <template> 语法-->
<div id="app-3">
    <p v-show="isShow">
        show
    </p>
</div>
<!--v-show和v-if大体效果相同，不同的是：v-show的元素会始终渲染并保持在DOM中。
用法：根据表达式的值的真假条件渲染元素。在切换时元素及它的数据绑定 / 组件被销毁并重建。如果元素是 <template> ，
将提出它的内容作为条件块。当条件变化时该指令触发过渡效果。-->
<div id="app-4">
    <p v-if="isShow">
        show
    </p>
</div>
<!--由于v-if是一个指令，需要将它添加到一个元素上。但是如果想要切换多个元素，则可以把<template>元素当做包装元素，并在其上使用v-if，最终的渲染结果不会包含它-->
<div id="example-2">
    <template v-if="greeting">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 1</p>
    </template>
</div>
<!--v-else
限制：前一兄弟元素必须有 v-if 或 v-else-if
用法：为v-if 或者v-else-if 添加 “else 块”-->
<div id="app-5">
    <p v-if="isShow">show</p>
    <p v-else>hide</p>
</div>
<!---->
<div id="app-6">
    <p v-if="type === 'a'">A</p>
    <p v-else-if="type==='b'">B</p>
    <p v-else>C</p>
</div>
<!-- v-for 渲染循环列表
用法：基于源数据多次渲染元素或模板块。此指令之值，必须使用特定语法 alias in expression ，为当前遍历的元素提供别名：
v-for 默认行为试着不改变整体，而是替换元素。迫使其重新排序的元素,您需要提供一个key 的特殊属性:
实例：-->
<div id="app-7">
    <ul>
        <li v-for="item in items" :key="item.id">{{item.name}}</li>
    </ul>
</div>

<!--v-on绑定事件
用法：
绑定事件监听器。事件类型由参数指定。表达式可以是一个方法的名字或一个内联语句，如果没有修饰符也可以省略。用在普通元素上时，只能监听 原生 DOM 事件。用在自定义元素组件上时，也可以监听子组件触发的自定义事件。
在监听原生 DOM 事件时，方法以事件为唯一的参数。如果使用内联语句，语句可以访问一个 $event 属性：
修饰符：
.stop - 调用 event.stopPropagation()。
.prevent - 调用 event.preventDefault()。
.capture - 添加事件侦听器时使用 capture 模式。
.self - 只当事件是从侦听器绑定的元素本身触发时才触发回调。
.{keyCode | keyAlias} - 只当事件是从侦听器绑定的元素本身触发时才触发回调。
.native - listen for a native event on the root element of component.
.once - 触发一次。
.left - (2.2.0+) only trigger handler for left button mouse events.
.right - (2.2.0+) only trigger handler for right button mouse events.
.middle - (2.2.0+) only trigger handler for middle button mouse events.
.passive - (2.3.0+) attaches a DOM event with { passive: true }.
实例：-->
<div id="app-8">
    <!--方法处理器-->
    <button v-on:click="doSomething">方法处理器</button>
    <!--内联语句-->
    <button v-on:click="doSomething('Vue.js!',$event)">内联语句</button>
    <!--缩写-->
    <button @click="doSomething">缩写</button>
    <!--停止冒泡-->
    <button @click.stop="doSomething">停止冒泡</button>
    <!--阻止默认行为-->
    <button @click.prevent="doSomething">阻止默认行为</button>
    <!--串联修饰符-->
    <button @click.stop.prevent="doSomething">串联修饰符</button>
    <!--键修饰符，键别名-->
    <input @keyup.enter="onEnter" placeholder="回车键" v-model="msg">
    <button v-on:click.once="doSomething">执行一次</button>
</div>
<!--.v-bind 绑定属性
用法：
动态地绑定一个或多个特性，或一个组件 prop 到表达式。
在绑定 class 或 style 特性时，支持其它类型的值，如数组或对象.
在绑定 prop 时，prop 必须在子组件中声明。可以用修饰符指定不同的绑定类型。
没有参数时，可以绑定到一个包含键值对的对象。注意此时 class 和 style 绑定不支持数组和对象。
修饰符：
.sync——双向绑定，只能用于prop绑定。
.once——单次绑定，只能用于prop绑定。
.camel——将绑定的特性名字转换回驼峰命名。只能用于普通HTML特性的绑定，通常用于绑定用驼峰命名的SVG特性，比如viewBox。<!-- 绑定一个属性 -->
<img v-bind:src="imageSrc">
<!-- 缩写 -->
<img :src="imageSrc">
<!-- with inline string concatenation -->
<img :src="'/path/to/images/' + fileName">
<!-- class 绑定 -->
<div :class="{ red: isRed }"></div>
<div :class="[classA, classB]"></div>
<div :class="[classA, { classB: isB, classC: isC }]"></div>
<!-- style 绑定 -->
<div :style="{ fontSize: size + 'px' }"></div>
<div :style="[styleObjectA, styleObjectB]"></div>

<!--v-once数据只能渲染一次-->
<div id="app9">
    <input type="text" v-model="msg">
    <h1>{{msg}}</h1>
    <h2 v-once>{{msg}}</h2>
</div>
<script src="../dist/vue.js"></script>
<script>
    var exampleVM2 = new Vue({
        el: '#example-2',
        data: {
            greeting: true
        }
    })
    new Vue({
        el: '#app',
        data: {
            msg: 'Hello World'
        }
    });
    new Vue({
        el: '#app-1',
        data: {
            msg: '你好！'
        }
    });
    new Vue({
        el: '#app-2',
        data: {
            msg: '<h2>hello vue.js</h2>'
        }
    });
    new Vue({
        el: '#app-3',
        data: {
            isShow: true
        }
    });
    new Vue({
        el: '#app-4',
        data: {
            isShow: false
        }
    });
    new Vue({
        el: '#app-5',
        data: {
            isShow: true
        }
    });
    new Vue({
        el: '#app-6',
        data: {
            type: 'b',
        }
    });
    new Vue({
        el: '#app-7',
        data: {
            items: [
                {name: 'hxl'},
                {name: 'zp'},
                {name: 'hxlzp'},
            ],
        }
    });
    new Vue({
        el:'#app-8',
        data: {
            name:'vue.js',
            msg:''
        },
        //在methods对象中定义方法
        methods:{
            doSomething:function (event) {
                //方法中的this指向Vue实例
                alert(this.name)
            },
            onEnter:function (event) {
                this.msg = '按下了回车键'
            }
        },
    });
    new Vue({
        el:'#app9',
        data:{
            msg:'Hello!'
        }
    });
    new Vue({
        data: {
            a: 1
        },
        created: function () {
            // `this` 指向 vm 实例
            console.log('a is: ' + this.a)
        }
    })
</script>
</body>
</html>